<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title><%- htmlWebpackPlugin.options.pkg.title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body ng-app="app" ng-strict-di ng-cloak>
  <header id="page-header">
    <nav class="navbar navbar-expand-lg container">
      <a class="navbar-brand" href="#"><img src="assets/img/fashionvalet-logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-camera"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="far fa-user-circle"></i></a>
          </li>
          <li>
            <a class="nav-link" href="#"><i class="far fa-heart"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div ng-controller="MainController">
    <div class="bread-crumbs">
      <div class="container"><a href="#">{{ breadcrumbs }}</a></div>
    </div>
    <div class="container main">
      <div class="row">
          <div class="mt-3"><h5>Apparel</h5></div>
      </div>
      <div class="catalogue row">
        <div class="thumbnail-wrapper row col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-repeat="item in items">
          <div class="thumbnails text-left m-1" item-id="{{ item.id }}">
          <img class="mx-auto d-block w-100" src="http://localhost:8888/fv_test/pub/media/catalog/product{{ item.media_gallery_entries[0].file }}" >
          <p class="mb-0 p-1">{{ item.name }}</p>
          <strong><p class="mb-0 pl-1">{{ item.price | currency: "RM" }}</p></strong>
          <input type="button" class="btn fv-btn w-100" value="Add to Cart">
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>