body {
	background: #F5F5F5;
	font-family: Karla;
}

header {
	nav {
		padding-left: 0 !important;
		img {
			width: 200px;
		}
		#navbarSupportedContent {
			.nav-link {
				i {
					color: grey;
				}
			}
		}
	}
}
.bread-crumbs {
	background: grey;
	height: 50px;
	div {
		padding-left: 0;
		line-height: 50px;
		a {
			color: white;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.main {
	.thumbnails {
		background: white;
		transition: all ease 0.5s;
		&:hover {
			box-shadow: 1px 1px 1px 1px var(--box-shadow-color);
			--box-shadow-color: grey;
			cursor: pointer;
		}
	}
}

.fv-btn {
	background: #b1777f;
	border-radius: 0;
	font-weight: 500;
	color: white;
	transition: all ease 0.5s;
	&:hover {
		background: white;
		border: 1px solid #b1777f;
		color: #b1777f;
	}
}

h5 {
	text-transform: uppercase;
}